{{ 'sport-blocks.css' | asset_url | stylesheet_tag }}

<section class="sport-blocks">
  <div class="sport-blocks--container">
    {% if section.settings.heading %}
      <h3 class="sport-blocks--heading">{{ section.settings.heading }}</h3>
    {% endif %}
    <div class="sport-blocks--grid">
      {% for block in section.blocks %}
        {% assign image = block.settings.image %}
        <div class="sport-blocks--item">
          {% if image %}
            {{
              image
              | image_url: width: 308
              | image_tag: class: 'sport-blocks--image', loading: 'lazy'
            }}
          {% endif %}
          {% if block.settings.title %}
            <p class="sport-blocks--item-title">{{ block.settings.title }}</p>
          {% endif %}
          {% if block.settings.description %}
            <p class="sport-blocks--item-description">{{ block.settings.description }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sport Blocks",
  "settings": [
    {
      "default": "Product stack",
      "id": "heading",
      "label": "Heading",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Product Block",
      "settings": [
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "id": "title",
          "label": "Title",
          "type": "text"
        },
        {
          "id": "description",
          "label": "Description",
          "type": "textarea"
        }
      ]
    }
  ]
}
{% endschema %}
